<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hxj.mapper.TProductMapper">
    <resultMap id="BaseResultMap" type="org.hxj.entity.TProduct">
        <id column="product_id" jdbcType="BIGINT" property="productId" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="price" jdbcType="BIGINT" property="price" />
        <result column="sale_price" jdbcType="BIGINT" property="salePrice" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="start_time" jdbcType="DATE" property="startTime" />
        <result column="end_time" jdbcType="DATE" property="endTime" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <sql id="Base_Column_List">
    product_id, name, price, sale_price, number, start_time, end_time, create_time
  </sql>

    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_product
        where flag=1
    </select>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_product
        where product_id = #{productId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_product
    where product_id = #{productId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="org.hxj.entity.TProduct">
    insert into t_product (product_id, name, price,
    sale_price, number, start_time, end_time, create_time)
    values (#{productId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR},
      #{price,jdbcType=BIGINT},
      #{salePrice,jdbcType=BIGINT}, #{number,jdbcType=INTEGER},
      #{startTime,jdbcType=DATE}, #{endTime,jdbcType=DATE},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="org.hxj.entity.TProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into t_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="salePrice != null">
                sale_price,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="endTime != null">
                end_time,
            </if>
            create_time,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="product_id != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=BIGINT},
            </if>
            <if test="salePrice != null">
                #{salePrice,jdbcType=BIGINT},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            now(),
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="org.hxj.entity.TProduct">
        update t_product
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=BIGINT},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=BIGINT},
            </if>
            <if test="number != null">
                number = #{number,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=DATE},
            </if>
            <if test="endTime != null">
                end_time = #{endTime,jdbcType=DATE},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where product_id = #{productId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="org.hxj.entity.TProduct">
    update t_product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=BIGINT},
      sale_price = #{salePrice,jdbcType=BIGINT},
      number = #{number,jdbcType=INTEGER},
      start_time = #{startTime,jdbcType=DATE},
      end_time = #{endTime,jdbcType=DATE},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>